<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.web.repository.SampleMapper">
    <select id="getNum" resultType="int">
      select count(*) from user_info
    </select>
    <select id="getResult" resultType="com.song.web.pojo.Result" statementType="CALLABLE" parameterType="com.song.web.pojo.Result">
        {call testselect(#{currentPage, mode=IN, jdbcType=VARCHAR},
        #{pageSize, mode=IN, jdbcType=VARCHAR},
        #{pageSize, mode=IN, jdbcType=VARCHAR},
        #{pageSize, mode=IN, jdbcType=VARCHAR})}
    </select>
    </mapper>